html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.app {
    background-image: url(../../assets/images/page.png);
    background-color: #073047;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}
